@import "tailwindcss";

@theme {
    --color-primary: #ff5722;
    --color-primary-dark: #e64a19;
    --color-secondary: #2d3e50;

    --font-body: 'Inter', system-ui, sans-serif;
    --font-heading: 'Outfit', sans-serif;
}

@layer base {
    body {
        @apply font-body text-gray-900 bg-white antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading font-bold;
    }
}